@view {
    height: 600px;
}

.slidecontainer {
    width: 100%;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 45%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #017BFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #017BFF;
    cursor: pointer;
}

.col_title {
    font-weight: bold;
    font-size: 20px;
}

.col_title:hover{
    text-decoration: none;
    color: #017BFF;
}

#time {
    width: 70px;
    text-align: center;
    color: #ACB382;
    font-weight: bold;
    font-size: 17px;
}

.form-check {
    margin-left: 30%;
}

.link {
    color: white
}

.link:hover{
    text-decoration: none;
    color: white;
}



.btn {
    font-size: 22px;
    font-weight: bold;
}

h3 {
    color: #017BFF;
    font-weight: bold
}

#slider {
    font-weight: bold;
    color:#ACB382;
    font-size: 18px;
}

#value {
    color: #ACB382;
}

#time {
    
}

.suffix {
    color: #017BFF;
    font-weight: bold;
    font-size: 18px;
}

.form-check-label {
    color: #017BFF;
    font-weight: bold;
    font-size: 18px;
}

h4 {
    color: #017BFF;
}

#spec {
    text-align: left;
}

.center {
    text-align: center;
}



#result {
}

#average {
    color: #ACB382;
}

#ilosc {
    display: none;
}

#od_value {
    width: 70px;
    text-align: center;
    color: #ACB382;
    font-weight: bold;
    font-size: 17px;
}

#do_span {
    color: beige;
}

#do_value {
    width: 70px;
    text-align: center;
    color: #ACB382;
    font-weight: bold;
    font-size: 17px;
}

#czas {
    display: none;
}

#od {
    display: none;
}

#do {
    display: none;
}

#resultButton {
    color: #017BFF;
}

#loadingSection {
        color: #017BFF;
}

#deviation {
     color: #ACB382;
}

#variance {
         color: #ACB382;
}

#myChart {
}

#chart {
    width: 40%;
    height: 40%;
}

#res {
    float: left;
}

.buttons,.buttons:hover {
    text-decoration: none;
    color: white;
}
